.App {
    text-align: center;
    min-height: 100%;
    display: block;
    direction: ltr;
    font-family: Helvetica Neue, Helvetica;
    font-size: 16px;
  }
  
  @-webkit-keyframes App-logo-spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes App-logo-spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  img {
    border: 0;
  }
  
  body {
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
  }
  
  .logo {
    max-height: 140px;
    max-width: 350px;
  }
  
  a {
    text-decoration: none;
    color: #39f;
  }
  
  button {
    -ms-flex-align: start;
        align-items: flex-start;
    text-transform: none;
  }
  .pure-button,
  input.pure-button {
    padding: 0.75em 1.45em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 2px;
    color: #42597a;
    background-color: #eeeef5;
    margin: 0;
    width: 100%;
    border: solid 1px #e4e7ef;
    white-space: normal;
  }
  
  .pure-button {
    font-family: inherit;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .login-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    width: 360px;
    right: 0;
    min-height: 550px;
    z-index: 1;
    padding: 35px 5px;
    padding-top: 35px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    border-top: 1px solid #f1f1f5;
  }
  .login-box,
  .login-box-ad-fallback {
    position: absolute;
    top: 11px;
  }
  
  .responsive .login-box {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    width: 100%;
    position: relative;
    margin: 0 auto;
    right: auto;
  }
  .login-box {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .puree-button-primary {
    color: #fff;
    background: #39f;
    border: 2px solid #39f;
  }
  #password-challenge .puree-button-link {
    margin: 0 auto;
    padding: 0;
    width: auto;
  }
  
  .puree-button-link,
  input.puree-button-link {
    color: #39f;
    background: transparent;
    border-color: transparent;
  }
  #password-challenge .username {
    padding: 5px;
    text-transform: none;
    font-size: 18px;
    word-wrap: break-word;
  }
  
  #password-challenge .not-you {
    font-size: 13px;
  }
  
  #password-challenge .username {
    padding: 5px;
    text-transform: none;
    font-size: 18px;
    word-wrap: break-word;
  }
  
  .challenge {
    padding: 0 10px;
    max-width: 320px;
    margin: 0 auto;
  }
  ul,
  li,
  div,
  a {
    -webkit-tap-highlight-color: transparent;
  }
  .login-box-container {
    margin: 0 auto;
    max-width: 1030px;
    min-width: 320px;
    position: relative;
  }
  .loginish {
    min-height: 100%;
  }
  .txt-align-center {
    text-align: center;
  }
  html,
  body {
    height: 100%;
  }
  
  body,
  #UH {
    min-width: 0 !important;
  }
  
  .pure-form input {
    -webkit-appearance: none;
  }
  html,
  button,
  input,
  select,
  textarea,
  code,
  .pure-g [class*='pure-u'] {
    font-family: Helvetica Neue, Helvetica;
  }
  input,
  textarea,
  select,
  button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
  }
  
  .puree-v2 input[type='text']:not(.validation),
  .puree-v2 input[type='password'],
  .puree-v2 input[type='date'],
  .puree-v2 input[type='tel'],
  .puree-v2 select {
    height: 32px;
    padding: 0 8px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d8dade;
    background-color: transparent;
  }
  
  .password {
    display: block;
    font-size: 16px;
    width: 100%;
    height: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    height: 32px;
    padding: 0 8px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d8dade;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #password-challenge .greeting {
    display: block;
    margin: 24px 0;
    text-align: center;
  }
  h1 {
    margin: 0;
    padding: 0.57em 1em;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #101010;
    display: block;
  }
  
  
  
  // WEBPACK FOOTER //
  // ./src/App.css
